$primary: #f59f00;
$secondary: #fdeccc;
$primarytint: #fad185;
$primaryshade: #a15300;
$primaryhover: #dd8f00;
$secondarytint: #fef9f0;
$background: #000000cc;
$backgroundgrey: #00000080;
$blackalfa: #00000013;
$backgroundlight: #fef5e6;
$white: #fff;
$dark: #000;
$grey: #333;
$greylight: #999;
$error: red;
$success: #ccffcc;
